<ul class="product-tabs">
    <li id="product_tabs_description_tabbed" class="active first"><a href="">Description</a></li>
    {% if product.properties|length > 0 %}
    <li id="product_tabs_additional_tabbed" class=""><a href="">Additional</a></li>
    {% endif %}
    <li id="product_tabs_tags_tabbed" class=""><a href="">Tags</a></li>
    <li id="product_tabs_review_tabbed" class="last"><a href="">Reviews</a></li>
    <li id="product_tabs_custom"><a href="">Custom Tab</a></li>
</ul>

<div class="product-tabs-content tabs-content" id="product_tabs_description_tabbed_contents">
    <h2>Details</h2>
    <div class="std">
        {{ product.getDescription|raw }}
    </div>
</div>

{% if product.properties|length > 0 %}
<div class="product-tabs-content tabs-content" id="product_tabs_additional_tabbed_contents" style="">
    <h2>Additional Information</h2>
    <table class="data-table" id="product-attribute-specs-table">
        <colgroup>
            <col width="25%">
            <col>
        </colgroup>
        <tbody>
            {% for property in product.properties %}
                <tr class="{% if loop.index is odd %}odd{% else %}even{% endif %}">
                    <th class="label">{{ property.name }}</th>
                    <td class="data last">{{ property.value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

<div class="product-tabs-content tabs-content" id="product_tabs_tags_tabbed_contents">
    <div class="box-collateral box-tags">
        <h2>Product Tags</h2>
        <ul class="product-tags">
            <li>No tags connected to product</li>
        </ul>
        <form id="addTagForm" action="http://shopper.queldorei.com/index.php/tag/index/save/product/177/uenc/aHR0cDovL3Nob3BwZXIucXVlbGRvcmVpLmNvbS9pbmRleC5waHAvYm9keWNvbi1kcmVzcy1pbi1hbmltYWwtd2l0aC1jdXQtb3V0Lmh0bWw,/" method="get">
            <div class="form-add">
                <label for="productTagName">Add Your Tags:</label>
                <div>
                    <div class="input-box">
                        <input type="text" class="input-text required-entry" name="productTagName" id="productTagName" />
                    </div>

                    <button type="button" title="Add Tags" class="button" onclick="submitTagForm()">
                        <span><span>Add Tags</span></span>
                    </button>
                </div>
                <div class="clear"></div>
            </div>
        </form>

        <p class="note">Use spaces to separate tags. Use single quotes (') for phrases.</p>
        <script type="text/javascript">

        </script>
    </div>
</div>

<div class="product-tabs-content tabs-content" id="product_tabs_review_tabbed_contents">
    <div class="collateral-box dedicated-review-box" id="product-customer-reviews">
        <ol>
            <li>Be the first to review this product</li>
        </ol>
    </div>
    <div class="add-review">
        <h3 class="title">WRITE YOUR REVIEW</h3>
        <div class="form-add">
            <h2>Write Your Own Review</h2>
            <form action="http://shopper.queldorei.com/index.php/review/product/post/id/177/" method="post" id="review-form">
                <fieldset>
                    <h3>You're reviewing: <span>{{ product.getName }}</span></h3>
                    <h4>How do you rate this product? <em class="required">*</em></h4>
                    <span id="input-message-box"></span>

                    <table class="data-table" id="product-review-table">
                        <col/><col width="1" /><col width="1" /><col width="1" /><col width="1" /><col width="1" />

                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th><span class="nobr">1 star</span></th>
                                <th><span class="nobr">2 stars</span></th>
                                <th><span class="nobr">3 stars</span></th>
                                <th><span class="nobr">4 stars</span></th>
                                <th><span class="nobr">5 stars</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Price</th>
                                <td class="value"><input type="radio" name="ratings[3]" id="Price_1" value="11" class="radio" /></td>
                                <td class="value"><input type="radio" name="ratings[3]" id="Price_2" value="12" class="radio" /></td>
                                <td class="value"><input type="radio" name="ratings[3]" id="Price_3" value="13" class="radio" /></td>
                                <td class="value"><input type="radio" name="ratings[3]" id="Price_4" value="14" class="radio" /></td>
                                <td class="value"><input type="radio" name="ratings[3]" id="Price_5" value="15" class="radio" /></td>
                            </tr>
                            <tr>
                                <th>Value</th>
                                <td class="value"><input type="radio" name="ratings[2]" id="Value_1" value="6" class="radio" /></td>
                                <td class="value"><input type="radio" name="ratings[2]" id="Value_2" value="7" class="radio" /></td>
                                <td class="value"><input type="radio" name="ratings[2]" id="Value_3" value="8" class="radio" /></td>
                                <td class="value"><input type="radio" name="ratings[2]" id="Value_4" value="9" class="radio" /></td>
                                <td class="value"><input type="radio" name="ratings[2]" id="Value_5" value="10" class="radio" /></td>
                            </tr>
                            <tr>
                                <th>Quality</th>
                                <td class="value"><input type="radio" name="ratings[1]" id="Quality_1" value="1" class="radio" /></td>
                                <td class="value"><input type="radio" name="ratings[1]" id="Quality_2" value="2" class="radio" /></td>
                                <td class="value"><input type="radio" name="ratings[1]" id="Quality_3" value="3" class="radio" /></td>
                                <td class="value"><input type="radio" name="ratings[1]" id="Quality_4" value="4" class="radio" /></td>
                                <td class="value"><input type="radio" name="ratings[1]" id="Quality_5" value="5" class="radio" /></td>
                            </tr>
                        </tbody>
                    </table>

                    <input type="hidden" name="validate_rating" class="validate-rating" value="" />
                    <script type="text/javascript">
                        // decorateTable('product-review-table');
                    </script>
                    <ul class="form-list">
                        <li>
                        <label for="nickname_field" class="required"><em>*</em>Nickname</label>
                        <div class="input-box">
                            <input type="text" name="nickname" id="nickname_field" class="input-text required-entry" value="" />
                        </div>
                        </li>
                        <li>
                        <label for="summary_field" class="required"><em>*</em>Summary of Your Review</label>
                        <div class="input-box">
                            <input type="text" name="title" id="summary_field" class="input-text required-entry" value="" />
                        </div>
                        </li>
                        <li>
                        <label for="review_field" class="required"><em>*</em>Review</label>
                        <div class="input-box">
                            <textarea name="detail" id="review_field" cols="5" rows="3" class="required-entry"></textarea>
                        </div>
                        </li>
                    </ul>
                </fieldset>
                <div class="buttons-set">
                    <button type="submit" title="Submit Review" class="button"><span><span>Submit Review</span></span></button>
                </div>
            </form>

            <script type="text/javascript">

            </script>
        </div>
    </div>
</div>

<div class="product-tabs-content tabs-content" id="product_tabs_custom_contents">
    <p>
        <strong>Lorem Ipsum</strong><span>&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
    </p>
</div>

<div class="product-tabs-accordion clearfix">
    <h2 id="product_acc_description_tabbed" class="tab-heading active "><a href="">Description</a></h2>
    <div class="product-tabs-content accordion-content">
        <h2>Details</h2>
        <div class="std">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. <br/><br/>
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
        </div>
    </div>
    <h2 id="product_acc_tags_tabbed" class="tab-heading "><a href="">Tags</a></h2>
    <div class="product-tabs-content accordion-content">
        <div class="box-collateral box-tags">
            <h2>Product Tags</h2>
            <ul class="product-tags">
                <li>No tags connected to product</li>
            </ul>
            <form id="addTagForm" action="http://shopper.queldorei.com/index.php/tag/index/save/product/177/uenc/aHR0cDovL3Nob3BwZXIucXVlbGRvcmVpLmNvbS9pbmRleC5waHAvYm9keWNvbi1kcmVzcy1pbi1hbmltYWwtd2l0aC1jdXQtb3V0Lmh0bWw,/" method="get">
                <div class="form-add">
                    <label for="productTagName">Add Your Tags:</label>
                    <div>
                        <div class="input-box">
                            <input type="text" class="input-text required-entry" name="productTagName" id="productTagName" />
                        </div>

                        <button type="button" title="Add Tags" class="button" onclick="submitTagForm()">
                            <span><span>Add Tags</span></span>
                        </button>
                    </div>
                    <div class="clear">
                    </div>
                </div>
            </form>
            <p class="note">Use spaces to separate tags. Use single quotes (') for phrases.</p>

            <script type="text/javascript">

            </script>
        </div>
    </div>

    <h2 id="product_acc_review_tabbed" class="tab-heading "><a href="">Reviews</a></h2>
    <div class="product-tabs-content accordion-content">
        <div class="collateral-box dedicated-review-box" id="product-customer-reviews">
            <ol>
                <li>Be the first to review this product</li>
            </ol>
        </div>
        <div class="add-review">
            <h3 class="title">WRITE YOUR REVIEW</h3>
            <div class="form-add">
                <h2>Write Your Own Review</h2>
                <form action="http://shopper.queldorei.com/index.php/review/product/post/id/177/" method="post" id="review-form">
                    <fieldset>
                        <h3>You're reviewing: <span>{{ product.getName }}</span></h3>
                        <h4>How do you rate this product? <em class="required">*</em></h4>
                        <span id="input-message-box"></span>
                        <table class="data-table" id="product-review-table">
                            <col/><col width="1" /><col width="1" /><col width="1" /><col width="1" /><col width="1" />
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th><span class="nobr">1 star</span></th>
                                    <th><span class="nobr">2 stars</span></th>
                                    <th><span class="nobr">3 stars</span></th>
                                    <th><span class="nobr">4 stars</span></th>
                                    <th><span class="nobr">5 stars</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Price</th>
                                    <td class="value"><input type="radio" name="ratings[3]" id="Price_1" value="11" class="radio" /></td>
                                    <td class="value"><input type="radio" name="ratings[3]" id="Price_2" value="12" class="radio" /></td>
                                    <td class="value"><input type="radio" name="ratings[3]" id="Price_3" value="13" class="radio" /></td>
                                    <td class="value"><input type="radio" name="ratings[3]" id="Price_4" value="14" class="radio" /></td>
                                    <td class="value"><input type="radio" name="ratings[3]" id="Price_5" value="15" class="radio" /></td>
                                </tr>
                                <tr>
                                    <th>Value</th>
                                    <td class="value"><input type="radio" name="ratings[2]" id="Value_1" value="6" class="radio" /></td>
                                    <td class="value"><input type="radio" name="ratings[2]" id="Value_2" value="7" class="radio" /></td>
                                    <td class="value"><input type="radio" name="ratings[2]" id="Value_3" value="8" class="radio" /></td>
                                    <td class="value"><input type="radio" name="ratings[2]" id="Value_4" value="9" class="radio" /></td>
                                    <td class="value"><input type="radio" name="ratings[2]" id="Value_5" value="10" class="radio" /></td>
                                </tr>
                                <tr>
                                    <th>Quality</th>
                                    <td class="value"><input type="radio" name="ratings[1]" id="Quality_1" value="1" class="radio" /></td>
                                    <td class="value"><input type="radio" name="ratings[1]" id="Quality_2" value="2" class="radio" /></td>
                                    <td class="value"><input type="radio" name="ratings[1]" id="Quality_3" value="3" class="radio" /></td>
                                    <td class="value"><input type="radio" name="ratings[1]" id="Quality_4" value="4" class="radio" /></td>
                                    <td class="value"><input type="radio" name="ratings[1]" id="Quality_5" value="5" class="radio" /></td>
                                </tr>
                            </tbody>
                        </table>
                        <input type="hidden" name="validate_rating" class="validate-rating" value="" />
                        <script type="text/javascript">
                            // decorateTable('product-review-table');
                        </script>
                        <ul class="form-list">
                            <li>
                            <label for="nickname_field" class="required"><em>*</em>Nickname</label>
                            <div class="input-box">
                                <input type="text" name="nickname" id="nickname_field" class="input-text required-entry" value="" />
                            </div>
                            </li>
                            <li>
                            <label for="summary_field" class="required"><em>*</em>Summary of Your Review</label>
                            <div class="input-box">
                                <input type="text" name="title" id="summary_field" class="input-text required-entry" value="" />
                            </div>
                            </li>
                            <li>
                            <label for="review_field" class="required"><em>*</em>Review</label>
                            <div class="input-box">
                                <textarea name="detail" id="review_field" cols="5" rows="3" class="required-entry"></textarea>
                            </div>
                            </li>
                        </ul>
                    </fieldset>
                    <div class="buttons-set">
                        <button type="submit" title="Submit Review" class="button"><span><span>Submit Review</span></span></button>
                    </div>
                </form>
                <script type="text/javascript">

                </script>
            </div>
        </div>
    </div>

    <h2 id="product_acc_review_tabbed" class="tab-heading"><a href="">Custom Tab</a></h2>
    <div class="product-tabs-content accordion-content">
        <p>
            <strong>Lorem Ipsum</strong><span>&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
        </p>
    </div>
</div>
