{% extends "NileadWebBundle:Frontend/Account:index.html.twig" %}


{# TITLE #}
{% block title %}{{ 'Change Password'|trans }}{% endblock %}


{# HEAD #}
{% block head %}
    <meta name="description" content="Default Description">
    <meta name="keywords" content="Magento, Varien, E-commerce">

    {{ parent() }}
{% endblock %}

{# CONTENT #}
{% block content %}
    <div class="main-container col2-left-layout">
        <div class="page-title-bg" style="height: 90px;"></div>
        <div class="main row">
            <div class="col-main">
                <div class="my-account">
                    <div class="page-title">
                        <h2>{{ 'Change Password'|trans }}</h2>
                    </div>

                    <form action="{{ path('nilead.change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
                        {#{{ form_widget(form) }}#}
                        {{ form_row(form._token) }}
                        <div class="fieldset">
                            <h2 class="legend">{{ 'Change Password'|trans }}</h2>
                            <ul class="form-list">
                                <li>
                                    {% if error is defined %}
                                        <p style="color: #ff0000">{{ error|trans({}, 'FOSUserBundle') }}</p>
                                    {% endif %}
                                </li>
                                <li>
                                    <label for="current_password" class="required"><em>*</em>{{ 'Current Password'|trans }}</label>
                                    <div class="input-box">
                                        {{ form_widget(form.current_password, { 'attr': {'class': 'input-text'}}) }}
                                    </div>
                                </li>
                                <li>
                                    <label for="current_password" class="required"><em>*</em>{{ 'New password'|trans }}</label>
                                    <div class="input-box">
                                        {{ form_widget(form.new.first, { 'attr': {'class': 'input-text validate-password'}}) }}
                                    </div>
                                </li>
                                <li>
                                    <label for="current_password" class="required"><em>*</em>{{ 'Verification'|trans }}</label>
                                    <div class="input-box">
                                        {{ form_widget(form.new.second, { 'attr': {'class': 'input-text validate-cpassword'}}) }}
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="buttons-set">
                            <p class="required">* Required Fields</p>
                            {% block back_url %} {{ parent() }} {% endblock %}
                            <button type="submit" title="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" class="button">
                                <span><span>{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</span></span>
                            </button>
                        </div>
                        {{ form_rest(form) }}
                    </form>
                </div>
            </div>
            {% include 'NileadWebBundle:Frontend/Account:menu_left.html.twig' %}
        </div>
    </div>
{% endblock %}
