{% extends "NileadWebBundle:Frontend/Account:index.html.twig" %}


{# TITLE #}
{% block title %}Account Information{% endblock %}


{# HEAD #}
{% block head %}
    <meta name="description" content="Default Description">
    <meta name="keywords" content="Magento, Varien, E-commerce">

    {{ parent() }}
{% endblock %}

{# CONTENT #}
{% block content %}
    <div class="main-container col2-left-layout">
        <div class="page-title-bg" style="height: 90px;"></div>
        <div class="main row">
            <div class="col-main">
                <div class="my-account">
                    <div class="page-title">
                        <h1>Edit Account Information</h1>
                    </div>
                    <form action="{{ path('nilead.frontend.account.info') }}" method="POST" id="form-validate">
                        <div class="fieldset">
                            {{ form_row(form._token) }}
                            <h2 class="legend">Account Information</h2>
                            <ul class="form-list">
                                <li>
                                    {% if error is defined %}
                                        <p style="color: #ff0000">{{ error|trans({}, 'FOSUserBundle') }}</p>
                                    {% endif %}
                                </li>
                                <li class="fields">
                                    <div class="customer-name">
                                        <div class="field name-firstname">
                                            <label for="firstname" class="required"><em>*</em>{{ 'First Name'|trans({}, 'FOSUserBundle') }}</label>
                                            <div class="input-box">
                                                {{ form_widget(form.party.currentFirstName, { 'attr': {'class': 'input-text required-entry'}}) }}
                                            </div>
                                        </div>
                                        <div class="field name-lastname">
                                            <label for="lastname" class="required"><em>*</em>{{ 'Last Name'|trans({}, 'FOSUserBundle') }}</label>
                                            <div class="input-box">
                                                {{ form_widget(form.party.currentLastName, { 'attr': {'class': 'input-text required-entry'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <label for="email" class="required"><em>*</em>Email Address</label>
                                    <div class="input-box">
                                        {{ form_widget(form.email, { 'attr': {'class': 'input-text required-entry validate-email'}}) }}
                                    </div>

                                </li>
                                {#<li class="control">#}
                                    {#<input type="checkbox" name="change_password" id="change_password" value="1" onclick="setPasswordForm(this.checked)" title="Change Password" class="checkbox" /><label for="change_password">Change Password</label>#}
                                {#</li>#}
                            </ul>
                        </div>
                        {#{{ form_widget(form) }}#}
                        <div class="fieldset" style="display:none;">
                            <h2 class="legend">Change Password</h2>
                            <ul class="form-list">
                                <li>
                                    <label for="current_password" class="required"><em>*</em>Current Password</label>
                                    <div class="input-box">
                                        <input type="password" title="Current Password" class="input-text" name="current_password" id="current_password" />
                                    </div>
                                </li>
                                <li class="fields">
                                    <div class="field">
                                        <label for="password" class="required"><em>*</em>New Password</label>
                                        <div class="input-box">
                                            <input type="password" title="New Password" class="input-text validate-password" name="password" id="password" />
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label for="confirmation" class="required"><em>*</em>Confirm New Password</label>
                                        <div class="input-box">
                                            <input type="password" title="Confirm New Password" class="input-text validate-cpassword" name="confirmation" id="confirmation" />
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="buttons-set">
                            <p class="required">* Required Fields</p>
                            {% block back_url %} {{ parent() }} {% endblock %}
                            <button type="submit" title="Save" class="button"><span><span>Save</span></span></button>
                        </div>
                    </form>
                </div>
            </div>
            {% include 'NileadWebBundle:Frontend/Account:menu_left.html.twig' %}
        </div>
    </div>
{% endblock %}