{% extends "NileadWebBundle:Frontend:layout.html.twig" %}


{# TITLE #}
{% block title %}Create{{ parent() }}{% endblock %}


{# HEAD #}
{% block head %}
    <meta name="description" content="Default Description">
    <meta name="keywords" content="Magento, Varien, E-commerce">

    {{ parent() }}
{% endblock %}


{% block body_class %}customer-account-create{% endblock %}


{# FOOTER #}
{% block footer %}
    {% include 'NileadWebBundle:Components/Login:footer.html.twig' %}
{% endblock %}


{# SCRIPTS #}
{% block scripts %}
    {{ parent() }}

    <script src="{{ asset('themes/shopper/js/components/account/register.js') }}"></script>
{% endblock %}


{# CONTENT #}
{% block content %}
    <div class="main-container col1-layout">
        <div class="main row clearfix">
            <div class="col-main">
                <div class="account-create">
                    <div class="block block-login">
                        <div class="block-title">
                            <strong><span>Register</span></strong>
                        </div>
                        <div class="block-content">
                            <form action="{{ path('nilead.user_registration_register') }}" {{ form_enctype(form) }} method="post" id="form-validate" novalidate>
                                <h2 class="legend first">Personal Information</h2>
                                <ul class="form-list">
                                    <li>
                                        {{ form_row(form._token) }}
                                        {% if error is defined %}
                                            <p style="color: #ff0000">{{ error|trans({}, 'FOSUserBundle') }}</p>
                                        {% endif %}
                                    </li>
                                    <li class="fields">
                                        <div class="customer-name">
                                            <div class="field name-username">
                                                <label for="username" class="required"><em>*</em>{{ 'form.username'|trans({}, 'FOSUserBundle') }}</label>
                                                <div class="input-box">
                                                    {{ form_widget(form.user.username, { 'attr': {'class': 'input-text required-entry'}})  }}
                                                    {#<input type="text" id="firstname" name="firstname" value="" title="First Name" maxlength="255" class="input-text required-entry"/>#}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="email_address" class="required"><em>*</em>{{ 'form.email'|trans({}, 'FOSUserBundle') }}</label>
                                        <div class="input-box">
                                            {{ form_widget(form.user.email, { 'attr': {'class': 'input-text validate-email required-entry'}})  }}
                                            {#<input type="text" name="email" id="email_address" value="{{ form.email.vars.value }}" title="Email Address" class="input-text validate-email required-entry"/>#}
                                        </div>
                                    </li>
                                    <li>
                                        {{ form_label(form.user.plainPassword.first, null, { 'attr': {'class': 'required'}} ) }}<label class="required"><em>*</em> </label>
                                        <div class="input-box">
                                            {#<input type="text" name="email" id="email_address" value="{{ form.email.vars.value }}" title="Email Address" class="input-text validate-email required-entry"/>#}
                                            {{ form_widget(form.user.plainPassword.first, { 'attr': {'class': 'input-text required-entry validate-password'}}) }}
                                        </div>
                                    </li>
                                    <li>
                                        {{ form_label(form.user.plainPassword.second, null, { 'attr': {'class': 'required'}} ) }}<label class="required"><em>*</em> </label>
                                        <div class="input-box">
                                            {{ form_widget(form.user.plainPassword.second, { 'attr': {'class': 'input-text required-entry validate-cpassword validation-passed'}}) }}
                                        </div>
                                    </li>
                                </ul>
                                <div class="buttons-set">
                                    <p class="required">
                                        * Required Fields
                                    </p>
                                    <button type="submit" title="Submit" class="button"><span><span>Submit</span></span></button>
                                </div>
                            </form>
                            <br/>
                        </div>

                        <div class="new-users">
                            <button onclick="window.location='{{ path('fos_user_security_login') }}';" class="button invert" title="Login" type="button"><span><span>login</span></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}