{% extends "NileadWebBundle:Frontend:layout.html.twig" %}

{# TITLE #}
{% block title %}Checkout{{ parent() }}{% endblock %}


{# HEAD #}
{% block head %}
    <meta name="description" content="Default Description">
    <meta name="keywords" content="Magento, Varien, E-commerce">

    {{ parent() }}
{% endblock %}


{# SCRIPTS #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('themes/shopper/css/xcheckout.css') }}">

    {{ parent() }}
{% endblock %}


{# SCRIPTS #}
{% block scripts %}
    {{ parent() }}

    <script src="{{ asset('themes/shopper/js/pages/xcheckout.js') }}"></script>

    <script src="{{ asset('themes/shopper/js/components/product/recommend.js') }}"></script>
    <script src="{{ asset('themes/shopper/js/components/product/related.js') }}"></script>
    <script src="{{ asset('themes/shopper/js/components/product/tabs.js') }}"></script>
    <script src="{{ asset('themes/shopper/js/components/footer.js') }}"></script>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="xcheckout">
            <h2>One Step Secure Checkout</h2>

            <form method="POST" action="{{ path('nilead.frontend.checkout.checkout') }} {{ form_enctype(form) }}">
                {{ form_errors(form) }}

                <div class="steps">
                    <div class="row-fluid">
                        <article class="span4">
                            <h3>STEP 1: SHIPPING ADDRESS</h3>

                            <div class="step">
                                <div class="row-fluid">
                                    <div class="control-group">
                                        <label class="control-label" for="inputEmail">Shipping Address</label>
                                        <div class="controls">
                                            <select name="" id="" class="span12">
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span6 control-group">
                                        {{ form_label(form.shippingAddress.firstName) }}
                                        <!-- <label class="control-label" for="inputEmail">First Name</label> -->

                                        <div class="controls">
                                            {{ form_widget(form.shippingAddress.firstName, {'attr': {'class': 'span12'}}) }}
                                            <!-- <input type="text" id="inputEmail" placeholder="Email" class="span12"> -->
                                        </div>
                                    </div>

                                    <div class="span6 control-group">
                                        {{ form_label(form.shippingAddress.lastName) }}
                                        <!-- <label class="control-label" for="inputEmail">Last Name</label> -->

                                        <div class="controls">
                                            {{ form_widget(form.shippingAddress.lastName, {'attr': {'class': 'span12'}}) }}
                                            <!-- <input type="text" id="inputEmail" placeholder="Email" class="span12"> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="control-group">
                                        {{ form_label(form.shippingAddress.address1) }}
                                        <!-- <label class="control-label" for="inputEmail">Address Line 1</label> -->

                                        <div class="controls">
                                            {{ form_widget(form.shippingAddress.address1, {'attr': {'class': 'span12'}}) }}
                                            <!-- <input type="text" id="inputEmail" placeholder="Email" class="span12"> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="control-group">
                                        {{ form_label(form.shippingAddress.address2) }}
                                        <!-- <label class="control-label" for="inputEmail">Address Line 2</label> -->

                                        <div class="controls">
                                            {{ form_widget(form.shippingAddress.address2, {'attr': {'class': 'span12'}}) }}
                                            <!-- <input type="text" id="inputEmail" placeholder="Email" class="span12"> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="control-group">
                                        {{ form_label(form.shippingAddress.city) }}
                                        <!-- <label class="control-label" for="inputEmail">City</label> -->
                                        <div class="controls">
                                            {{ form_widget(form.shippingAddress.city, {'attr': {'class': 'span12'}}) }}
                                            <!-- <input type="text" id="inputEmail" placeholder="Email" class="span12"> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span6 control-group">
                                        {{ form_label(form.shippingAddress.state) }}
                                        <!-- <label class="control-label" for="inputEmail">State</label> -->
                                        <div class="controls">
                                            {{ form_widget(form.shippingAddress.state, {'attr': {'class': 'span12'}}) }}
                                            <!-- <select name="" id="" class="span12">
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                            </select> -->
                                        </div>
                                    </div>

                                    <div class="span6 control-group">
                                        {{ form_label(form.shippingAddress.zip) }}
                                        <!-- <label class="control-label" for="inputEmail">Zip Code</label> -->
                                        <div class="controls">
                                            {{ form_widget(form.shippingAddress.zip, {'attr': {'class': 'span12'}}) }}
                                            <!-- <select name="" id="" class="span12">
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                            </select> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="control-group">
                                        {{ form_label(form.shippingAddress.country) }}
                                        <!-- <label class="control-label" for="inputEmail">Country</label> -->
                                        <div class="controls">
                                            {{ form_widget(form.shippingAddress.country, {'attr': {'class': 'span12'}}) }}
                                            <!-- <select name="" id="" class="span12">
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                            </select> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span6 control-group">
                                        {{ form_label(form.shippingAddress.phone) }}
                                        <!-- <label class="control-label" for="inputEmail">Phone</label> -->
                                        <div class="controls">
                                            {{ form_widget(form.shippingAddress.phone, {'attr': {'class': 'span12'}}) }}
                                            <!-- <input type="text" id="inputEmail" placeholder="Email" class="span12"> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <h4>{{ form_label(form.shippingMethod) }}</h4>

                                    <div class="control-group">
                                        <label class="radio">
                                            {{ form_widget(form.shippingMethod) }}
                                            <!-- <img src="img/credit-card.jpg" alt="credit card"> -->
                                        </label>
                                    </div>
                                </div>
                                <!-- <div class="row-fluid">
                                    <h4>Shipping Method</h4>

                                    <div class="control-group">
                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                            Standard (5-10 Business Days)
                                        </label>

                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                                            Upgraded (2-5 Business Days) $9.27
                                        </label>

                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                                            Expedited (2-4 Business Days) $10.23
                                        </label>

                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                                            Express (2-3 Business Days) $22.87
                                        </label>
                                    </div>
                                </div> -->
                            </div>
                        </article>

                        <article class="span4">
                            <h3>STEP 2: BILLING ADDRESS</h3>

                            <div class="step">
                                <div class="row-fluid">
                                    <div class="control-group">
                                        <label class="control-label" for="inputEmail">Billing Address</label>
                                        <div class="controls">
                                            <select name="" id="" class="span12">
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span6 control-group">
                                        {{ form_label(form.billingAddress.firstName) }}
                                        <!-- <label class="control-label" for="inputEmail">First Name</label> -->

                                        <div class="controls">
                                            {{ form_widget(form.billingAddress.firstName, {'attr': {'class': 'span12'}}) }}
                                            <!-- <input type="text" id="inputEmail" placeholder="Email" class="span12"> -->
                                        </div>
                                    </div>

                                    <div class="span6 control-group">
                                        {{ form_label(form.billingAddress.lastName) }}
                                        <!-- <label class="control-label" for="inputEmail">Last Name</label> -->

                                        <div class="controls">
                                            {{ form_widget(form.billingAddress.lastName, {'attr': {'class': 'span12'}}) }}
                                            <!-- <input type="text" id="inputEmail" placeholder="Email" class="span12"> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="control-group">
                                        {{ form_label(form.billingAddress.address1) }}
                                        <!-- <label class="control-label" for="inputEmail">Address Line 1</label> -->

                                        <div class="controls">
                                            {{ form_widget(form.billingAddress.address1, {'attr': {'class': 'span12'}}) }}
                                            <!-- <input type="text" id="inputEmail" placeholder="Email" class="span12"> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="control-group">
                                        {{ form_label(form.billingAddress.address2) }}
                                        <!-- <label class="control-label" for="inputEmail">Address Line 2</label> -->

                                        <div class="controls">
                                            {{ form_widget(form.billingAddress.address2, {'attr': {'class': 'span12'}}) }}
                                            <!-- <input type="text" id="inputEmail" placeholder="Email" class="span12"> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="control-group">
                                        {{ form_label(form.billingAddress.city) }}
                                        <!-- <label class="control-label" for="inputEmail">City</label> -->

                                        <div class="controls">
                                            {{ form_widget(form.billingAddress.city, {'attr': {'class': 'span12'}}) }}
                                            <!-- <input type="text" id="inputEmail" placeholder="Email" class="span12"> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span6 control-group">
                                        {{ form_label(form.billingAddress.state) }}
                                        <!-- <label class="control-label" for="inputEmail">State</label> -->

                                        <div class="controls">
                                            {{ form_widget(form.billingAddress.state, {'attr': {'class': 'span12'}}) }}
                                            <!-- <select name="" id="" class="span12">
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                            </select> -->
                                        </div>
                                    </div>

                                    <div class="span6 control-group">
                                        {{ form_label(form.billingAddress.zip) }}
                                        <!-- <label class="control-label" for="inputEmail">Zip Code</label> -->

                                        <div class="controls">
                                            {{ form_widget(form.billingAddress.zip, {'attr': {'class': 'span12'}}) }}
                                            <!-- <select name="" id="" class="span12">
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                            </select> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="control-group">
                                        {{ form_label(form.billingAddress.country) }}
                                        <!-- <label class="control-label" for="inputEmail">Country</label> -->

                                        <div class="controls">
                                            {{ form_widget(form.billingAddress.country, {'attr': {'class': 'span12'}}) }}
                                            <!-- <select name="" id="" class="span12">
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                            </select> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span6 control-group">
                                        {{ form_label(form.billingAddress.phone) }}
                                        <!-- <label class="control-label" for="inputEmail">Phone</label> -->

                                        <div class="controls">
                                            {{ form_widget(form.billingAddress.phone, {'attr': {'class': 'span12'}}) }}
                                            <!-- <input type="text" id="inputEmail" placeholder="Email" class="span12"> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <h4>{{ form_label(form.paymentMethod) }}</h4>

                                    <div class="control-group">
                                        <label class="radio">
                                            {{ form_widget(form.paymentMethod) }}
                                            <img src="img/credit-card.jpg" alt="credit card">
                                        </label>

<!--                                         <div id="credit_card">
                                            <input type="text" class="span12">

                                            <select name="" id="" class="span6 pull-left">
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                            </select>

                                            <select name="" id="" class="span6 pull-right">
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                            </select>
                                        </div> -->

<!--                                         <div class="row-fluid">
                                            <label class="radio span6">
                                                <input type="radio" name="payment_method" id="payment_method1" value="option1">
                                                <img src="img/paypal.jpg" alt="paypal">
                                            </label>

                                            <label class="radio span6">
                                                <input type="radio" name="payment_method" id="payment_method1" value="option1">
                                                <img src="img/bill-me-later.jpg" alt="bill me later"><br />
                                                <a href="#"><small>Terms and Conditions</small></a>
                                            </label>
                                        </div>

                                        <div class="row-fluid">
                                            <label class="radio span6">
                                                <input type="radio" name="payment_method" id="payment_method1" value="option1">
                                                <img src="img/vme.jpg" alt="vme">
                                            </label>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="span4">
                            <h3>STEP 3: CONFIRMATION</h3>

                            <div class="step">
                                <div class="row-fluid">
                                    <div class="control-group">
                                        <label class="checkbox">
                                            {{ form_widget(form.deliveryOptions.isMessage) }}
                                            {{ form_label(form.deliveryOptions.isMessage) }}
                                            <!-- <label class="control-label" for="inputEmail">Select Delivery &amp; Gift Options</label> -->
                                        </label>

                                        <!-- <input type="checkbox" value=""> -->
                                        <!-- Include a free personalized gift message<br /> -->

                                        <div id="message">
                                            {{ form_label(form.deliveryOptions.message) }}
                                            <!-- <a href="#"><small>We will print your message on a card.</small></a> -->

                                            {{ form_widget(form.deliveryOptions.message, {'attr': {'class': 'span12', 'rows': 5}}) }}
                                            <!-- <textarea name="" rows="5" class="span11"></textarea> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="control-group">
                                        <label class="checkbox">
                                            {{ form_widget(form.deliveryOptions.isGiftWrap) }}
                                            {{ form_label(form.deliveryOptions.isGiftWrap) }}

                                            <!-- <input type="checkbox" value=""> -->
                                            <!-- Gift-wrap this item: <code>$3.99</code> -->
                                        </label>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="control-group">
                                        <label class="checkbox">
                                            <input type="checkbox" id="input_giftcard">
                                            I want to use a gift card
                                        </label>
                                    </div>

                                    <div class="control-group" id="giftcard">
                                        <div class="row-fluid">
                                            {{ form_label(form.deliveryOptions.giftCard, null, {'label_attr': {'class': 'span8'}}) }}
                                            {{ form_label(form.deliveryOptions.pin, null, {'label_attr': {'class': 'span4'}}) }}
                                        </div>

                                        <div class="row-fluid">
                                            {{ form_widget(form.deliveryOptions.giftCard, {'attr': {'class': 'span8'}}) }}
                                            {{ form_widget(form.deliveryOptions.pin, {'attr': {'class': 'span4'}}) }}
                                        </div>

                                        <div class="row-fluid">
                                            <small>
                                                <a href="#"><i class="icon-question-sign"></i> Where is my PIN?</a>
                                                <p>Clicking apply will update your order totals with the available gift card credit. When you submit your order, any remaining balance will be retained on your account for future purchases.</p>
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <h4>Total Confirmation</h4>

                                    <ul class="thumbnails">
                                        {% set cart = nilead_cart_get() %}
                                        {% for item in cart.items %}
                                            <li class="row-fluid{% if loop.index > 3 %} hidden-item{% endif %}">
                                                <div class="thumbnail pull-left">
                                                    <a href="{{ path('nilead.frontend.product.info', {'slug': item.variant.product.slug}) }}">
                                                        <img src="{{ ('images/' ~ item.variant.product.image.path) | imagine_filter('nilead_50x50') }}" alt="{{ item.variant.product.name }}">
                                                    </a>
                                                </div>

                                                <div class="pull-right">
                                                    {{ item.quantity }} <strong>&times;</strong> <span class="price">${{ item.unitPrice|number_format(2) }}</span>
                                                </div>

                                                <a href="#">{{ item.variant.product.name }}</a><br>
                                                <small><strong>SKU: {{ item.variant.sku }}</strong></small>
                                            </li>
                                        {% endfor %}

                                        {% if cart.items|length > 3 %}
                                                <li class="row-fluid text-right"><a class="btn btn-small" id="more_item"><i class="icon-chevron-down"></i> more</a></li>
                                        {% endif %}

                                        <!-- <li class="row-fluid">
                                            <div class="thumbnail pull-left">
                                                <a href="#"><img src="img/thumb.png" alt=""></a>
                                            </div>

                                            <div class="pull-right">
                                                1 <strong>&times;</strong> <span class="price">$100.00</span>
                                            </div>

                                            <a href="#">Rhodium-plated Brass Cubic Zirconia</a><br>
                                            <small>SKU: 12930252</small>
                                        </li> -->
                                    </ul>

                                    <hr>
                                    <div class="row-fluid text-right">
                                        <span class="span8">
                                            Subtotal<br>
                                            Delivery cost<br>
                                            Coupon<br>
                                            <strong>Grand Total</strong>
                                        </span>

                                        ${{ cart.total|number_format(2) }}<br>
                                        $20.00<br>
                                        -5.00<br>
                                        <strong>$115.00</strong>
                                    </div>

                                    <hr>
                                    <div class="row-fluid" style="margin-bottom: 20px;">
                                        <a class="btn span6">Home</a>
                                        <a class="btn span6">Go to Cart</a>
                                    </div>

                                    <div class="row-fluid text-right">
                                        <button class="btn btn-large btn-block btn-primary" type="submit">Confirm your Order</button>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}