<!-- bof: slideshow -->
<div class="slider">
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="fade" data-masterspeed="300" data-slotamount="1">
                    <img src="{{ asset('themes/shopper/images/banner/features_05.jpg') }}" alt=""/>
                    <div class="caption fade shopper_caption_underline_light" data-x="530" data-y="138" data-start="100" data-speed="800" data-easing="easeOutExpo">
                        Build with Flexibility
                    </div>
                    <div class="caption fade shopper_small_text_light" data-x="766" data-y="222" data-speed="800" data-start="300" data-easing="easeOutExpo">
                        Everything you need to start,
                    </div>
                    <div class="caption fade shopper_small_text_light" data-x="719" data-y="242" data-speed="800" data-start="600" data-easing="easeOutExpo">
                        run and grow your business in one free site.
                    </div>
                    <div class="caption fade shopper_small_text_light" data-x="785" data-y="275" data-speed="800" data-start="800" data-easing="easeOutExpo">
                        <a href="/"><img src="http://shopper.queldorei.com/media/queldorei/shopper/samples/button.png" alt="buy now"></a>
                    </div>
                </li>

                <li data-transition="papercut" data-masterspeed="460" data-slotamount="1">
                    <img src="{{ asset('themes/shopper/images/banner/features_02.jpg') }}" alt=""/>
                    <div class="caption sfr shopper_caption_light" data-x="530" data-y="90" data-speed="500" data-start="500" data-easing="easeOutBack">
                        ELEGANT &amp; FLEXIBLE
                    </div>
                    <div class="caption sfl shopper_caption_light" data-x="636" data-y="150" data-speed="500" data-start="500" data-easing="easeOutBack">
                        SLIDESHOWS
                    </div>
                    <div class="caption fade shopper_medium_text_light" style="color:#706f71;" data-x="600" data-y="286" data-speed="500" data-start="1100" data-easing="easeOutExpo">
                        This theme comes with two flexible slideshows!
                    </div>
                    <div class="caption fade shopper_medium_text_light" style="color:#706f71;" data-x="609" data-y="316" data-speed="500" data-start="1100" data-easing="easeOutExpo">
                        that gives you full control over your slideshow
                    </div>
                    <div class="caption fade shopper_medium_text_light" style="color:#706f71;" data-x="712" data-y="346" data-speed="500" data-start="1100" data-easing="easeOutExpo">
                        content and animation.
                    </div>
                    <div class="caption sfb shopper_white_bg_bold" data-x="584" data-y="230" data-speed="500" data-start="800" data-easing="easeOutExpo">
                        FLEXSLIDER &amp; REVOLUTION
                    </div>
                </li>

                <li data-transition="slideleft" data-masterspeed="300" data-slotamount="1">
                    <img src="{{ asset('themes/shopper/images/banner/unique_magento_theme.jpg') }}" alt=""/>
                    <div class="caption shopper_large_caption_bold sft" data-x="611" data-y="80" data-speed="500" data-start="600" data-easing="easeOutExpo">
                        UNIQUE
                    </div>
                    <div class="caption large_black_text sft" data-x="612" data-y="161" data-speed="500" data-start="700" data-easing="easeOutExpo">
                        NILEAD THEME
                    </div>
                    <div class="caption sfb" data-x="610" data-y="223" data-speed="350" data-start="1000" data-easing="easeOutBack">
                        <img src="{{ asset('themes/shopper/images/banner/img_01.png') }}" alt="image">
                    </div>
                    <div class="caption sfb" data-x="850" data-y="223" data-speed="350" data-start="1100" data-easing="easeOutBack">
                        <img src="{{ asset('themes/shopper/images/banner/img_02.png') }}" alt="image">
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-top"></div>
        </div>
    </div>
</div>

<script>
    var CONFIG_REVOLUTION = {
        delay:9000,
        startwidth:1170,
        startheight:460,
        hideThumbs:200,
        navigationType:"bullet",
        navigationArrows:"verticalcentered",
        navigationStyle:"round",
        touchenabled:"on",
        shuffle:"off",
        navOffsetHorizontal:0,
        navOffsetVertical:-14,
        onHoverStop:"on",
        thumbWidth:100,
        thumbHeight:50,
        thumbAmount:5,
        hideCaptionAtLimit:0,
        hideAllCaptionAtLilmit:0,
        hideSliderAtLimit:0,
        stopAtSlide:-1,
        stopAfterLoops:-1,
        fullWidth:"on"
    };
</script>
<!-- eof: slideshow -->